div.t {
	background-color: rgb(100,100,100);
	border-color: rgb(70,70,70);
	border-style: solid;
	border-width: 10px;

	
	transition-property: width;
	transition-duration: 0.7s;
	transition-timing-function: ease;
	
	height: 80px;
	width: 100px;
}

div.t:hover {
	width: 170px;
}

@keyframes expand {
	0% {
		background-color: rgb(255, 0, 0);
		border-width: 4px;
	}
	50% { 
		background-color: rgb(255, 255, 0, 0.7); 
		border-width: 12px;
	}
	100% {
		background-color: rgb(255, 0, 0);
		border-width: 4px;

	}
}

div.a {
	animation-name: expand;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	
	border-color: rgb(205, 100, 0, 0.5);
	border-style: solid;
	border-width: 3px;
	height: 150px;
	width: 300px;
}
